.wrap-nowpremiers {
    box-shadow: 0 0 2px #000, 0 0 3px #fff;
    box-sizing: border-box;
}

.imagen {
    height: 250px !important;
}

.title-premiers {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 4px white, 0 0 8px blue, 0 0 10px red;
    color: rgb(48, 47, 47);
    font-style: italic;
}

.wrap-grid {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.card-prev {
    margin: 5px;
    width: 45%;
    display: flex;
    justify-content: center;
    padding: 5px ;
    box-shadow: 0 0 2px #000, 0 0 3px #ccc;
    border-radius: 5px;
}

.poster {
    width: 70%;
    display: flex;
    align-items: center;
}

.poster img {
    width: 100%;
}



/* ================================= */

@media (min-width: 769px) {

    .card-prev {
        width: 30%;
        padding: 10px 0;
    }



    .poster img {
        height: 100%;
    }



}

/* ================================= */

@media (min-width: 1025px) {

    .poster img {
        height: 100%;
    }

    .card-prev {
        width: 20%;
        padding: 10px 0;
    }

}