.wrap-home {
    box-sizing: border-box;
    color:#000;
    font-size:.5rem
}

.wrap-carousel .imagen {
    height: 250px !important;
}

.wrap-grid {
    width: 100%;
    box-shadow: 0 0 2px #000, 0 0 3px #fff;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wrap-self {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.self-descriptions {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.self-now,
.self-topten,
.self-descriptions {
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.self-now img {
    width: 50%;
}

.self-now p {
    padding: 0 20px;
    font-size: 1rem;
}

.self-topten img {
    width: 50%;
}

.self-topten p {
    padding: 0 20px;
    font-size: 1rem;
}


.self-registered p {
    padding: 0 20px;
    font-size: 1rem;
}

.self-registered ul li {
    font-size: 1rem;
}

.wrap-logoDB {
    width: 100%;
    display: flex;
    height: 30px;
    justify-content: space-around;
    padding: 0 5px;
}

.logoDB {
    width: 25%;
    height: 100%
}

.logoDB img {
    width: 100%;
    height: 80%;
    padding: 0 20%
}

.wrap_rated{
    width:100%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card_rated{
margin: 7px 0;
width: 40%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2px #000, 0 0 3px #fff;
    padding:3px;
}

.poster-rated img{
    width: 100%;
}

.title_wrap_rated{
    text-align: center;
}

/* ================================= */

@media (min-width: 481px) {

    .wrap-carousel .imagen {
        height: 350px !important;
    }
}

/* ================================= */

@media (min-width: 769px) {

    .wrap-carousel .imagen {
        height: 400px !important;
    }

    .wrap-self {
        flex-direction: row;
        justify-content: space-around;
        background-color: transparent;
        color: #000;
        border: none;
    }
    .logoDB {
        width: 20%;
        height: 100%
    }

    .wrap_rated{
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .card_rated{
        width: 20%;
    }      
        

}

/* ================================= */

@media (min-width: 1025px) {

    .wrap-carousel .imagen {
        height: 350px !important;
    }
    .self-now,
    .self-topten,
    .self-registered {
        border-bottom: none;
        display: flex;
    }

    .self-now img {
        width: 50%;
    }

    .self-topten img {
        width: 50%;
    }


    .logoDB {
        width: 10%;
        height: 100%
    }


}