.grand-user {
width: 100%;
}

.wrap-movieSearch {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-search {
    width: 100%;
    color: #000;
    text-shadow: 0 0 2px #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.film-card {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 3px #fff, 0 0 5px #000;
    padding-top: 10px;
    flex-wrap: wrap;
}

.film_card_wrap_img{
    width: 100%;;
}

.film_card_wrap_img{
    width: 100%;;
}

.film_card_wrap_img img{
    width: 100%;;
}

.film-card p {
    margin: 0;
}


/* ================================= */

@media (min-width: 769px) {

    .wrap-input {
        width: 100vw;
        padding: 0 0px;
        margin: 20px 0;
    }

    .input-search {
        width: 300px;
    }

    .wrap-movieSearch{
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
        justify-content: center;
    }

    .card-search {
        width: 100%;
        display: flex;
    }


    .film-card {
        width: 30%;
    
    }

    .film-card img {
        width: 100%;
    }

    .film-card h2 {

        margin: 10px;
    }
}

/* ============================ */

@media (min-width: 1025px) {

    .film-card {
        width: 19%;
        margin:6px 0
    
    }

}