
.wrap-navUser{
display: flex;
width:100%;
height:30px;
font-size: .75rem;
justify-content: center;
}

.usuario-reg{
    width:50%;
display: flex;
align-items: center;
justify-content: center;
color:#000;
text-shadow: 0 0 3px #fff;
font-weight: bold;
}

.btn-searchMovies{
    width:30%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.btn-searchTheaters{
    width:30%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.wrap-btn-back{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.btn-back{
font-size: 20px;
color:blue;
}

/* ================================= */

@media (min-width: 769px) {

    .wrap-navUser{
        font-size: 1rem;

        }

        .usuario-reg{
            width:30%;
        }

}

@media (min-width: 769px) {


        .usuario-reg{
            width:20%;
        }

}
