.wrap-header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.wrap-logo {
    height: 50px;
    box-sizing: border-box;
    margin-top: 20px;
}

.wrap-logo img {
    height: 100%;
}

.wrap-nav {
    width: 100%;
    height: 40px;
    box-shadow: 0 0 2px black, 0 0 3px white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px 5px 0;
    font-size: .7rem;
}

.nav-links {
    color: #000;
    text-shadow: 0 0 6px #fff;
    cursor: pointer;
}

.links:hover {
    color: #000;
    text-shadow: 0 0 6px red;
}

.links {
    text-decoration: none;
    color: #000;
}



.options {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top:20px;
    padding: 0 20px;
    font-size: .7rem;
    border-bottom: 1px solid #000;
}

.wrap-auth {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}



.login {
    width: 17%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.register {
    width: 20%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    margin: 0 5px;
    font-size: 1.1rem;
}



.navbar{
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px;
    z-index: 100;
    border:none;
}

.wrap_collapse{
    background-color: silver !important;
    border-radius: 5px;
    width: 180px;
    padding:10px;
}









/* ============================= */

@media (min-width:990px) {

    .wrap_collapse{
        width: 100%;
        display:flex;
        justify-content: space-around;
        
    }
   

}